Repository vtuberwiki/wiki, changes with the labels that .github/labeler.yml gives for each.
All labels: Scripts, Wiki, Github, Npm

.github/labeler.yml:

Scripts:
- changed-files:
  - any-glob-to-any-file: 'Scripts/**'

Wiki:
- changed-files:
  - any-glob-to-any-file: 'src/content/**'

Github:
- changed-files:
  - any-glob-to-any-file: '.github/**'


Npm:
- changed-files:
  - any-glob-to-any-file: '.npm/**'

refactor(Scripts/Install): better logging and exec
  .npm/install.js
  Scripts/package.json
  package.json
Labels: Scripts, Npm

chore(Github Workflows): removed CodeQL
  .github/workflows/CodeQlJavascript.yml
  .github/workflows/CodeQlTypescript.yml
Labels: Github

feat(Wiki): added sidebar to wiki pages
  public/static/js/custom.js
  src/pages/wiki/agencies/[...slug].astro
  src/pages/wiki/guides/[...slug].astro
  src/pages/wiki/software/[...slug].astro
  src/pages/wiki/vtubers/[...slug].astro
Labels: none

fix(Layout): made all head data template lits
  src/layouts/Layout.astro
Labels: none

fix(Layout): add id to
  src/layouts/Layout.astro
Labels: none

Update Discord Link
  src/components/Header.astro
Labels: none

Update discord.astro
  src/pages/discord.astro
Labels: none

Update socials.json.ts
  src/pages/api/v1/socials.json.ts
Labels: none

fix: upgrade rehype-pretty-code from 0.13.2 to 0.14.0
  package.json
Labels: none
